<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.example.SwapStuff" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SwapStuff</name>
  <description>
        SwapStuff
    </description>
  <author email="pbelouin@icloud.com" href="http://belouin.com">
        Pascal Belouin
    </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>